@use 'vars';

.confirmed--container {
    margin-top: 80px;
  }
  
  .confirmed--account--success {
    background: vars.$success--bkg;
    padding: 20px 40px;
  }
  
  .already--confirmed {
    border: solid 5px vars.$success--bkg;
    padding: 20px;
    margin-top: 20px;
    color: vars.$primary;
    font-size: 1em;
    max-width: 480px;
  }