<html>

  <head>
    <style></style>
  </head>

  <body>
    <p>Hello there,</p>
    <p>Someone tried to register a new WorkoutMate account with this email which
      already exists in our database.</p>
    <p>If this was you, you may
      <a href="http://{{link}}">log in</a>
      with your existing account or reset your password if necessary.</p>
    <p>If this wasn't you, simply ignore this message.</p>
    <p>Cheers,</p>
    <p>WorkoutMate</p>
  </body>

</html>