<html>

  <head>
    <style></style>
  </head>

  <body>
    <p>Hello there,</p>
    <p>You seem to have signed up for a WorkoutMate account.</p>
    <p>Please go to
      <a href="http://{{link}}">this link</a>
      to verify your account.</p>
    <p>If you didn't send a sign up request to us, simply ignore this message.</p>
    <p>Cheers,</p>
    <p>WorkoutMate</p>
  </body>

</html>