@use '../fonts';
@use '../vars';

.get--started {
  position: absolute;
  top: 250px;
  left: 41%;
  width: 200px;
  text-align: center;
  color: vars.$chart-title--color;
  font-weight: 600;
}

.no--workouts--found {
  text-align: left;
  color: vars.$chart-title--color;
  font-weight: 600;
}

.no--workouts--yet {
   position: absolute;
   top: 27vh;
   left: -35px;
   min-width: 150px;
   animation: no--workouts--yet 20s linear infinite;
   background-image: linear-gradient(
    0deg,
   rgb(219, 162, 215), 
   rgb(212, 122, 147), 
   rgb(162, 122, 212), 
   rgb(122, 131, 212), 
   rgb(99, 148, 255), 
   rgb(99, 224, 255), 
   rgb(99, 255, 239), 
   rgb(99, 255, 140), 
   rgb(255, 206, 99), 
   rgb(255, 127, 99),
   rgb(219, 162, 215),
   rgb(212, 122, 147)
   );
   background-size: 100% 1100%;
  }
  
  @keyframes no--workouts--yet {
    0% { background-position: 0% 0%; }
    100% { background-position: 0% 100%; }
  }
  
  .loading--workouts {
   text-align: center;
   color: vars.$chart-title--color;
   font-weight: 600;
  }
  
  .loading--workouts{
    position: absolute;
    top: 50px;
    left: 180px;
    z-index: 5;
    animation: loading--workouts 1s ease-in-out infinite;
  }
  
  @keyframes loading--workouts {
    0% {
      color: vars.$chart--color-1;
    }
    50% {
      color: vars.$chart--color-2;  
    }
    100% {
      color: vars.$chart--color-1;
    }
  }

/* Workouts container */

.workouts--container {
  grid-area: workouts;
  margin-left: 40px;
  height: fit-content;
  padding-bottom: 0;
  overflow-y: hidden;
}

.workouts--placeholder {
 grid-area: workouts;
 filter:opacity(0.7);
 position: relative;
 /* top: -495px; */
}

.workouts--placeholder > div {
 color: white;
 font-size: 1em;
 max-width: 250px;
 height: 120px;
 margin: 0 0 15px 0;
 padding: 15px;
 border-radius: 20px;
 animation: placeholder--animation 1s ease-in-out infinite;
}

/* Workout details component */

.workout-details {
  background: vars.$workout-details--bkg;
  margin: 0 0 15px 0;
  height: 120px;
  padding: 15px;
  max-width: 250px;
  border-radius: 20px;
  position: relative;
  box-shadow: vars.$workout-details--shadow;
  &:nth-child(4) {
    display: none;
  }
}

.workout-details h4 {
  margin: 0 0 8px 0;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1em;
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom: vars.$workout-details--h4--border;
  color: vars.$primary;
  
}

.workout-details p {
  margin: 0;
  font-size: 0.8em;
  padding: 3px 20px;
}

.workout-details > button {
  position: absolute;
  top: 110px;
  right: 15px;
  cursor: pointer;
  color: vars.$light-text;
  font-size: 1.3em;
  background: unset;
  border:unset;
  border-radius: unset;
  transition:unset;
}

.workout-details > button:hover {
 color: vars.$light-text--hover;
}

.workout-details p > strong {
  font-weight: 600;
}

.workout-details .edit {
  right: 45px;
}

.date {
  color: vars.$light-text;
}

@media screen and (max-width: 450px) {

  .get--started {
   left: 25vw;
   top: 260px;
  }

  .no--workouts--found {
    text-align: center;
  }

  .no--workouts--yet {
    top: 23vh;
    left: 25vw;
  }

  .workouts--container {
    display: inline-block;
    margin-left: 0;
  }

  .workout-details,
  .workouts--placeholder {
    margin-left: auto;
    margin-right: auto;
  }
  
  .workouts--placeholder {
    width: 280px;
  }
 }