@use 'vars';
@use 'fonts';

div.error {
  grid-area: space;
  z-index: 3;
  text-align: center;
  max-width: 400px;
  margin-top: 20px;
  padding: 5px;
  background: vars.$error--bkg;
  border: 1px solid vars.$error;
  font-size: 14px;
  color: vars.$error;
}
  
div.success {
  text-align: center;
  margin-top: 20px;
  padding: 5px;
  background: vars.$success--bkg;
  border: 1px solid vars.$success;
  font-size: 14px;
  color: vars.$success;
}

input.error,
select.error {
  border: 1px solid vars.$error;
  outline: 1px solid vars.$error;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}