/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #373737;
  --error: #e7195a;
  --success: #16644a;
}

body {
  background: #ededed;
  margin: 0;
  font-family: "Poppins";
  align-content: center;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
  font-size: 0.6em;
}

.ham {
  cursor: pointer;
}
.menu {
  display: flex;
  gap: 20px;
  height: fit-content;
  padding: 30px;
  background: #fff;
  width: 200px;
  z-index: 10;
  position: absolute;
  right: 0;
  top: 0;
}
.close {
  margin-left: 40px;
  cursor: pointer;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
/* landing page */
.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup,
.login {
  background: #dad5e5;
  height: 350px;
  width: 250px;
  box-shadow: none;
  top: 200px;
}

.login {
background-color: #bbebec;
}

.landing--btns {
  display: flex;
  gap: 20px;
}

.login--btn,
.signup--btn {
  background: #dad5e5;
  padding: 10px 20px;
  cursor: pointer;
  width: 100px;
  text-align: center;
}
.login--btn {
  background-color: #E0E1DB;
}

/* homepage */
.home {
  padding: 0 50px;
}

.workout-details {
  background: #fff;
  margin: 20px auto;
  padding: 20px;
  max-width: 500px;
  position: relative;
  box-shadow: 0px 5px 22px -2px rgba(142, 142, 142, 0.5);
}

.workout-details h4 {
  margin: 0 0 10px 0;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.2em;
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom: solid 1px #a1a1a1;
  color: var(--primary);
}

.workout-details p {
  min-width: 300px;
  margin: 0;
  font-size: 0.9em;
  padding: 5px 20px;
}

.workout-details span {
  position: absolute;
  top: 130px;
  right: 15px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  color: #a1a1a1;
}
.workout-details .edit {
  right: 45px;
}
.date {
  color: #797979;
}

/* new workout form */
label,
input {
  display: block;
  color: var(--primary);
}

label {
  font-size: 14px;
}

input {
  padding: 10px;
  max-width: 274px;
  margin: 0 auto;
  margin-top: 6px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form {
  background: #dad5e5;
  min-width: 300px; 
  max-width: 400px;
  height: 500px;
  text-align: center;
  padding: 20px;
  box-shadow: 7px 6px 189px 186px rgba(86, 90, 109, 0.64);
  z-index: 10;
  position: fixed;
  top: 100px;
  left: 30%;
}

.login,
.signup {
  padding-top: 5px;
  position: relative;
  top: 80px;
}

.update {
  background: #E0E1DB;
}

.checky {
display: grid;
height: 30px;
width: 200px;
grid-template-columns: 1fr 5fr;
padding: 20px;
font-size: 14px;
margin: 0 auto;
}

form h4 {
  color: var(--primary);
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: solid 1px #c9b9eb;
}

form button,
.add--workout {
  background: var(--primary);
  border: solid 1px var(--primary);
  color: #fff;
  padding: 10px 30px;
  font-family: "Poppins";
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover,
.add--workout:hover {
  background:#ddd;
  color: var(--primary);
}

.add--workout {
position: sticky;
bottom: 20px;
z-index: 5;
width: 100%;
max-width: 320px;
}

.nothanks {
  border: none;
  font-size: x-small;
  padding: 5px 30px;
  background: gray;
}
.nothanks:hover {
  background: var(--primary);
  color: #fff;
}

.success {
  color: var(--success);
  border: solid 1px var(--success);
  font-size: 14px;
  background: #b2e6d4;
  padding: 5px;
  position: relative;
  top: -45px;
}

.success > a {
  font-weight: 600;
  color: var(--success);
}

.btns {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 10px 30px;
}

.btns > .discard{
  background: grey;
  border: solid 1px transparent;
}

div.error {
  padding: 5px;
  background: #fcd7d7;
  border: 1px solid var(--error);
  color: var(--error);
  font-size: 14px;
}

input.error {
  border: 1px solid var(--error);
}