/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #373737;
  --error: #e7195a;
}

body {
  background: #ededed;
  margin: 0;
  font-family: "Poppins";
  align-content: center;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
  font-size: 0.6em;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  padding: 0 50px;
}

.workout-details {
  background: #fff;
  margin: 20px auto;
  padding: 20px;
  max-width: 500px;
  position: relative;
  box-shadow: 0px 5px 22px -2px rgba(142, 142, 142, 0.5);
}

.workout-details h4 {
  margin: 0 0 10px 0;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.2em;
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom: solid 1px #a1a1a1;
  color: var(--primary);
}

.workout-details p {
  min-width: 300px;
  margin: 0;
  font-size: 0.9em;
  padding: 5px 20px;
}

.workout-details span {
  position: absolute;
  top: 130px;
  right: 15px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  color: #a1a1a1;
}
.workout-details .edit {
  right: 45px;
}
.date {
  color: #565656;
}

/* new workout form */
label,
input {
  display: block;
}

input {
  padding: 10px;
  max-width: 274px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form {
  background: #dad5e5;
  min-width: 300px; 
  max-width: 400px;
  height: 500px;
  text-align: center;
  padding: 20px;
  box-shadow: 7px 6px 189px 186px rgba(86, 90, 109, 0.64);
  z-index: 10;
  position: fixed;
  top: 100px;
  left: 30%;
}

.checky {
display: grid;
height: 30px;
width: 200px;
grid-template-columns: 1fr 5fr;
padding: 20px;
font-size: 14px;
margin: 0 auto;
}

form h4 {
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: solid 1px #c9b9eb;
}

form button,
.add--workout {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px 30px;
  font-family: "Poppins";
  border-radius: 50px;
  cursor: pointer;
}

.add--workout {
position: sticky;
bottom: 20px;
z-index: 5;
width: 100%;
max-width: 320px;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}