/* 
-----------------------------
Table of contents:
-----------------------------
 /* Fonts
 /* Header / Navbar
 /* Logged-in header
 /* Logged-out Navbar
 /* Logged-in Navbar
 /* Homepage 
 /* About page
 /* Confirmed account page
 /* All forms
 /* Add & edit workout forms
 /* Login and signup forms
 /* Forgot password button
 /* Reset password request form (to send reset link to inbox)
 /* Reset password form (accessed from the reset link)
 /* User menu
 /* User/Profile settings form
 /* Delete account component 
 /* Workouts (container)
 /* Workout details component 
 /* Success and error messages
 /* Search bar
 /* Pagination
 /* Chart
-----------------------------
*/


/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #373737;
  --error: #e7195a;
  --success: #16644a;
  --success--bkg: #b6f8db;
  --error--bkg: #fcd7d7;
  --login: #5fcfca;
  --signup: #b995e7;
  --home--bkg: rgb(209, 255, 240);
  --home--bkg--dark: rgb(33, 81, 100);
  --light-text: #a1a1a1;
}

body {
  background: #e2e2e2;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

/* Header / Navbar */

header {
  position: fixed;
  left: 0;
  z-index: 5;
  top: 0;
  width: 100vw;
  height: 60px;
}

/* Logged-in header */

.header--blur{
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(4px);
  box-shadow: 1px 1px 5px rgba(160, 160, 160, 0.616);
}

header > .container {
  position: relative;
  padding: 0px 20px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

header > .container > div {
 padding-right: 20px;
}

header a {
  color: #333;
  text-decoration: none;
  font-size: 0.6em;
}

.pages {
  /* Home, About, Login, Logout */
  max-width: 1400px;
  padding: 20px;
  height: 90vh;
}

.logo > a {
  font-family: 'Yellowtail', cursive;
  font-size: 0.8em;
  color: white;
}

.logo {
  margin: 15px 0;
}

.logged--in--logo {
  display: inline-block;
  margin: 0;
}

.logged--in--logo > a {
  font-family: 'Yellowtail', cursive;
  font-size: 20px;
  color: rgb(177, 159, 190);
}

/* Confirmed account page */

.confirmed--container {
  margin-top: 80px;
}

.confirmed--account--success {
  background: var(--success--bkg);
  padding: 20px 40px;
}

.already--confirmed {
  border: solid 5px var(--success--bkg);
  padding: 20px;
  margin-top: 20px;
  color: var(--primary);
  font-size: 1em;
  max-width: 480px;
}

/* Logged-out Navbar */

.signup,
.login {
  background: var(--signup);
  width: 250px;
  box-shadow: none;
}

.login {
background-color: var(--login);
}

.login--btn,
.signup--btn,
.about--btn {
  background: transparent;
  padding: 6px;
  position: relative;
  margin-left: 20px;
  top: 30px;
  cursor: pointer;
  width: fit-content;
  text-align: center;
  font-size: 1.3em;
  font-weight: 500;
  border: solid 1px var(--primary);
  border-radius: 20px;
  transition: 0.3s;
}

.login--btn,
.about--btn {
  border: solid 1px transparent;
}

.signup--btn:hover{
  background: var(--signup);
}

.login--btn:hover {
 background: var(--login);
}

.about--btn:hover{
  background:rgb(249, 158, 200);
}

/* Homepage */

.home--container {
  margin: 0;
  background: var(--home--bkg);
  background-image: url('./assets/gym-pattern.png');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 40%;
  position: absolute;
  left: 0;
  top: 0;
}

.home {
  position: relative;
  top: 70px;
  margin: 0 auto;
  max-width: 900px;
  min-width: 800px;
  display: grid; 
  grid-template-columns: 250px auto;
  grid-template-areas:
  'search search space space space'
  'search search space space space'
  'workouts workouts add-btn add-btn add-btn'
  'workouts workouts chart chart chart'
  'workouts workouts chart chart chart'
  'workouts workouts chart chart chart'
  'workouts workouts chart chart chart'
  'workouts workouts chart chart chart'
  'pagination pagination chart chart chart'
}

.space {
  grid-area: space;
}

/* About page */

.about--container {
  position: relative;
  font-size: 0.8em;
  height: fit-content;
  top: 100px;
  left: 10%;
}

.about--container > p {
  max-width: 450px;
}

.github {
  height: 30px;
  margin-top: 40px;
  transition: 0.2s;
}

.gym--pattern--bkg {
  position: fixed;
  top:0;
  z-index:-1;
  right: 0;
}

/* Logged-in Navbar */

.hello--user {
  color: var(--primary);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  z-index: 1;
  position: relative;
  top: 10px;
  font-size: 0.9em;
  background: unset;
  border:unset;
  border-radius: unset;
  transition:unset;
}

.hello--user > span:nth-child(1){
  display: inline-block;
  font-weight: 400;

}
.hello--user > span:nth-child(1) > strong{
  display: inline-block;
  font-weight: 600;
}

.avatar-wrapper {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 10px;
  border-radius: 100%;
  overflow: hidden;
}

.avatar {
  width: 40px;
}

/* All forms */

label,
input {
  display: block;
  color: var(--primary);
}

label {
  font-size: 14px;
}

input {
  padding: 10px;
  max-width: 274px;
  height: 30px;
  margin: 0 auto;
  margin-top: 6px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

::placeholder {
 color: var(--light-text);
}

.form--container {
 position: absolute;
}

/* Login & Signup form */

.form--container:has(.login),
.form--container:has(.signup) {
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.form--container:has(.login){
  background-image: url("./assets/pastel-gym-1.jpeg");
}

.form--container:has(.signup) {
  background-image: url("./assets/pastel-gym-2.jpeg");
}

.form--container:has(.reset--password) {
  display: flex;
  width: 100vw;
  background: #c3f1fc;
  z-index: 5;
}

.login,
.signup {
  min-width: 300px; 
  max-width: 400px;
  height: fit-content;
  text-align: center;
  padding: 20px;
  z-index: 10;
  position: fixed;
  top: 100px;
  padding-top: 5px;
  position: absolute;
  z-index: 0;
  top: 0;
  padding: 0 50px;
  min-width: unset;
  left: 0;
  height: 100%;
}

.login > label,
.signup > label {
color: white;
font-size: 0.9em;
}

form.login h4,
form.signup h4 {
 margin-top: 200px;
 color: #fff;
 font-weight: 500;
 font-size: 20px;
 border-bottom: solid 1px #fff;
}

.log-in--form--btn,
.sign-up--form--btn {
  background: var(--primary);
  border: solid 1px var(--primary);
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  font-family: "Poppins";
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
}

.log-in--form--btn:hover,
.sign-up--form--btn:hover {
  background:#ddd;
  color: var(--primary);
}

/* Forgot password button */

.forgot--password {
  padding: 10px 30px;
  font-family: "Poppins";
  color: #8b47c3;
  font-size: 0.8em;
  position: relative;
  top: -15px;
  cursor: pointer;
  text-decoration: underline;
  border: unset;
  background: unset;
}

.forgot--password:hover{
  color: rgb(83, 38, 121);
}

/* Reset password request form (to send reset link to inbox) */

.form--container:has(.reset--password--request) {
    background: rgba(128, 128, 128, 0.508); 
    z-index: 5;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100%;
}

.reset--password--request {
  text-align: center;
  padding: 20px;
  top: 180px;
  background: rgb(255, 192, 251);
  width: 300px; 
  height: fit-content;
  position: relative;
  margin: 0 auto;
  border-radius: 20px;
}

.reset--password--request > h4 {
  border-bottom: solid 1px rgb(233, 160, 194);
}

.reset--password--request > button {
  background: var(--primary);
  border: solid 1px var(--primary);
  color: rgb(255, 255, 255);
  padding: 8px 28px;
  font-family: "Poppins";
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
}

.reset--password--request > button:hover {
  background:#ddd;
  color: var(--primary);
}

/* Reset password form (accessed from the reset link) */

.form--container:has(.reset--password){
  display: flex;
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  text-align: center;
  z-index: 5;
}

.reset--password {
  top: 180px;
  background: rgb(192, 232, 255);
  width: 300px;
  height: fit-content;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 6px 6px 20px 20px rgba(81, 121, 169, 0.225);
}

.reset--password > button {
  background: var(--primary);
  border: solid 1px var(--primary);
  color: rgb(255, 255, 255);
  padding: 8px 28px;
  font-family: "Poppins";
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
}

.reset--password> button:hover {
  background:#ddd;
  color: var(--primary);
}

/* Add & Edit workout forms */

.form--container:has(.workout--form),
.form--container:has(.edit--form){
  background: rgba(128, 128, 128, 0.508); 
  height: 100vh;
  z-index: 5;
  top: -70px;
  left: 0;
  display: flex;
  width: 100vw;
    
}

.workout--form > h4,
.edit--form > h4 {
  font-size: 1.2em;
  font-weight: 600;
  padding: 0;
  margin: 20px 0;
  border-bottom: solid 1px rgb(188, 188, 188);
}

.edit--form,
.workout--form {
  background: #dad5e5;
  min-width: 300px; 
  max-width: 400px;
  height: fit-content;
  text-align: center;
  padding: 20px;
  position: relative;
  top: 100px;
  box-shadow: 5px 5px 25px 5px rgba(22, 22, 22, 0.307);
  border-radius: 20px;
  margin: 0 32%;
}

.edit--form > label,
.workout--form > label {
  font-weight: 500;
}

.edit--form > input,
.workout--form > input {
  width: 70%;
}

.edit--form {
  background: #E0E1DB;
}

.workout--form--btn,
.edit--form--btn {
  background: var(--primary);
  border: solid 1px var(--primary);
  border-radius: 50px;
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  margin: 10px;
  font-family: "Poppins";
  cursor: pointer;
  transition: 0.2s;

}

.workout--form--btn:hover,
.edit--form--btn:hover {
  background:#ddd;
  color: var(--primary);
}

.add--workout {
  height: 40px;
  max-width: 140px;
  background: var(--primary);
  border: solid 1px var(--primary);
  border-radius: 50px;
  color: rgb(255, 255, 255);
  font-family: "Poppins";
  font-weight: 500;
  font-size: .9em;
  cursor: pointer;
  transition: 0.2s;
  grid-area: add-btn;
}

.add--workout:hover {
  background:#ddd;
  color: var(--primary);
} 

/* User menu */

.user--menu {
  position: absolute;
  background: var(--home--bkg);
  backdrop-filter: blur(2px);
  right:20px;
  padding: 90px 20px 20px 20px;
  box-shadow: 0px 5px 22px -2px rgba(142, 142, 142, 0.5);
  display: flex;
  justify-content: space-around;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

.user--menu--item {
 font-size: 0.8em;
 font-weight: 600;
 margin-right: 2px;
 color: var(--primary);
 cursor: pointer;
 background: unset;
 border:unset;
}

.user--menu--item:hover{
  color: pink;
}

/* User/Profile settings form */

.form--container:has(.user--settings){
  background: rgba(128, 128, 128, 0.508); 
  height: 100vh;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
}

.user--settings {
  position: absolute;
  top: 70px;
  background: palegoldenrod;
  right: 18%;
  height: fit-content;
  min-width: 300px; 
  max-width: 400px;
  text-align: left;
  border-radius: 20px;
  padding: 20px;
  padding-left: 50px;  
}

.user--settings > input {
  width: 200px;
  margin-left: 0;
}

.user--settings > h4 {
 color: var(--primary);
 border-bottom: solid 1px rgb(214, 214, 214);
}

.user--settings > label {
  font-weight: 500;
  font-size: 0.8em;
}

.upload--image{
  padding: 30px 0;
}

.upload--btn{
  background: var(--primary);
  border: solid 1px var(--primary);
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  font-family: "Poppins";
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
  height: 30px;
  padding: 5px 20px;
}

.upload--btn:hover{
  background:#ddd;
  color: var(--primary);
}

.remove--profile--img {
  font-size: small;
}

.close{
  position: absolute;
  right: 20px;
  height: 1em;
  width: 1em;
  color: var(--primary);
  cursor: pointer;
  background: unset;
  padding: 0;
  border:unset;
  transition:unset;
}

.close:hover{
  background: unset;
}

.user--settings > img {
  display: block;
  padding-bottom: 20px;
}

.cropper--wrapper {
  display:block;
  position:relative;
  height: 250px;
  margin-bottom: 20px;
}

/* Delete account component */

.delete--account--btn {
  display: block;
  position: relative;
  padding: 0;
  line-height: 90%;
  left: 200px;
  background: unset;
  color: var(--primary);
  border: unset;
  border-bottom: 1px solid var(--primary);
  margin-top: 20px;
  cursor: pointer;
}

.delete--account--btn:hover {
  color: orangered;
  border-bottom: 1px solid orangered;
}

.delete--account--dialogue {
  position: absolute;
  z-index: 15;
  text-align: center;
  padding: 20px;
  top: 300px;
  right: 50px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  background: pink;
  border-radius: 10px;
  border: solid 1px orangered;
  box-shadow: 2px 2px 60px rgba(128, 72, 72, 0.816);
}

.delete--account--dialogue > p {
  padding: 8px;
  margin: 0;
  font-size: 0.8em;
  font-weight: 500;
}

.delete--account--dialogue > h4 {
 position:relative;
 margin: 0 auto;
 width: fit-content;
 border-bottom: solid 2px orangered;
}

.delete--account--dialogue--btns {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.delete--account--dialogue--btns > button {
  font-size: 0.9em;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  padding: 3px 8px;
  color: whitesmoke;
  background: var(--primary)
}

.delete--account--dialogue--btns > button:nth-child(2) {
 background-color: rgb(82, 82, 82);
 border-radius: 5px;
}

/* Search bar */

.search--bar {
  z-index: 3;
  position:relative;
  top: 0;
  width: 180px;
  left: 40px;
  display: flex;
  box-shadow: none;
  height: unset;
  min-width: unset;
  padding: unset;
  background: none;
  grid-area: search;
}

.search--bar > button {
 background: var(--primary);
 font-family: "Poppins";
 height: 25px;
 width: 25px;
 padding: 3px 3px 0 3px;
 margin: 6px 0;
 position: relative;
 left: -20px;
 color: white;
 font-family: "Poppins";
 border: solid 1px var(--primary);
 border-radius: 50px;
 border-bottom-right-radius: 20px;
 cursor: pointer;
 transition: 0.2s;
}

.search--bar > button:hover {
background:#ddd;
  color: var(--primary);
}

.search--bar > button > span {
  font-size: 1.4em;
}

.search--bar > input{
  font-size: 0.75em;
  height: 25px;
  border-radius: 20px;
  border: solid 1px var(--light-text);
}

/* Workouts (container) */

 .workouts {
   grid-area: workouts;
   margin-left:40px;
 }

/* Workout details component */

.workout-details {
  background: #fff;
  margin: 0 0 15px 0;
  padding: 15px;
  max-width: 250px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 5px 22px -2px rgba(142, 142, 142, 0.5);
}

/* .workout-details:nth-child(n+4){
 display: none;
} */

.workout-details h4 {
  margin: 0 0 8px 0;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1em;
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom: solid 1px #c6f2ee;
  color: var(--primary);
  
}

.workout-details p {
  margin: 0;
  font-size: 0.8em;
  padding: 3px 20px;
}

.workout-details > button {
  position: absolute;
  top: 110px;
  right: 15px;
  cursor: pointer;
  color: #a1a1a1;
  font-size: 1.3em;
  background: unset;
  border:unset;
  border-radius: unset;
  transition:unset;
}

.workout-details > button:hover {
 color: rgb(66, 104, 194);
}

.workout-details p > strong {
  font-weight: 600;
}

.workout-details .edit {
  right: 45px;
}

.date {
  color: #797979;
}

/* Success and error messages */

div.error {
  margin-top: 20px;;
  padding: 5px;
  background: var(--error--bkg);
  border: 1px solid var(--error);
  color: var(--error);
  text-align: center;
  font-size: 14px;
}

div.success {
  margin-top: 20px;
  padding: 5px;
  text-align: center;
  background: var(--success--bkg);
  border: 1px solid var(--success);
  color: var(--success);
  font-size: 14px;
}

input.error {
  border: 1px solid var(--error);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* Pagination */

.page--btn--container {
  position: relative;
  left: 50px;
  z-index: 2;
  display: flex;
  gap: 5px;
  grid-area: pagination;
  width: fit-content;
}

.page--btn--container > button {
  cursor: pointer;
  border: solid 1px var(--primary);
  border-radius: 4px;
  padding: 0;
  color: var(--primary);
  background: transparent;
  transition: 0.2s;
  height: 20px;
}

.dots-left::before,
.dots-right::after {
  display: inline-block;
  content:"...";
  font-size: larger;
  color: rgb(149, 149, 149);
}

.page--btn--container > button > span {
  font-size: 1.3em;
}

.page--btn--container > button:hover {
  background: var(--primary);
  color: white;
}
.page--btn--container > button:disabled {
  border: solid 1px var(--light-text);
  color: var(--light-text);
  background: transparent;
  cursor: default
}
.page--btn--container > .num--page {
  font-size: 0.8em;
  padding: 0 5px;
}

.page--btn--container > .current {
  background: var(--primary);
  color: white;
}

.page--btn--container > .invisible {
 display: none;
}

/* Chart */

.chart--container {
  grid-area: chart;
  width: 100%;
}
.chart--container h3 {
  position: relative;
  margin: 20px auto 0 auto;
  color:rgb(152, 113, 165);
  width: fit-content;
}

.chart {
  position: relative;
  margin: 25px auto 0 auto;
  width: 220px;
  height: 220px;
  background-image: conic-gradient(rgb(234, 123, 214) 64%, rgb(126, 211, 253) 36%);
  border-radius: 50%;
  box-shadow: 2px 4px 30px rgba(47, 113, 107, 0.43);
  
}
.chart--container > p {
  width: fit-content;
  font-size: 0.8em;
  font-weight: 500;
  padding-left: 50px;
  color:rgb(82, 82, 82);
}

.stats--upper-bod > span,
.stats--lower-bod > span {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background:rgb(234, 123, 214);
}

.stats--lower-bod > span {
  background:rgb(126, 211, 253);
}
